@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap');
h1{
    font-family: 'Newsreader';
    text-align: center;
    position: relative;
    color: rgb(152, 125, 92);
}

h4{
    font-family: 'Newsreader';
    text-align: left;
    color: rgb(152, 125, 92);
    margin-left: 40px;
}

html{
    background-color: rgb(255, 212, 160);
}
.container {
    font-family: 'Newsreader';
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    max-width: 650px;
    margin: auto;
    margin-top: 5%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
}

.my_input {
    margin: 5px;
}

textarea {
    resize: none;
    overflow-y: scroll;
}

.bttn{
    text-align: center;
    padding-top: 10px;
}

.counter{
    font-family: 'Newsreader';
    text-align: center;
    padding-top: 20px;
}

.counter_warning{
    text-align: center;
    padding-top: 20px;
    color:red
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment_container{
    margin-top: 2%;
    padding-top: 20px;
    text-align: center;
}

#comments{
    font-family: 'Newsreader';
    float: left;
    text-align: left;
    margin-left: 40px;
}

@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}
